<div class="container">
	<div class="bottom-nav">
		<a href="/"><i class="fa fa-2x fa-home" aria-hidden="true"></i></a>
		<a href="/tree"><i class="fa fa-2x fa-tree" aria-hidden="true"></i></a>
		<a href="/profile"><i class="fa fa-2x fa-user-circle-o" aria-hidden="true"></i></a>
	</div>
</div>