<div class="container">
  	<div id="carbon-saved-stats">
  		<img alt="Tree" src="save-trees-logo-png-6.png">
  		<div class="stats">
  			<div class="icon">
  				<i class="fa fa-5x fa-cloud" aria-hidden="true"></i>
  				<h2>CO2</h2>
  			</div>
  			<h3><span id="carbon-saved-home">0</span> KG CO2<br>SAVED</h3>
  		</div>
  	</div>
  	<div class="commute-options-container">
	  	<div class="commute-options">
	  		<div class="commute-option own-vehicle">
	  			<a href="/own-vehicle">
	  				<div class="icon">
	  					<i class="fa fa-3x fa-user-o" aria-hidden="true"></i>
	  				</div>
	  				<h3>Own<br>Vehicle</h3>
	  			</a>
	  		</div>
	  		<div class="commute-option shared">
	  			<a href="/shared-vehicle">
	  				<div class="icon">
	  					<i class="fa fa-3x fa-users" aria-hidden="true"></i>
	  				</div>
	  				<h3>Shared<br>Vehicle</h3>
	  			</a>
	  		</div>
	  		<div class="commute-option public">
	  			<a href="/public-transport">
	  				<div class="icon">
	  					<i class="fa fa-2x fa-users" aria-hidden="true"></i><i class="fa fa-2x fa-users" aria-hidden="true"></i>
	  				</div>
	  				<h3>Public<br>Transport</h3>
	  			</a>
	  		</div>
	  	</div>
	</div>
</div>