<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head title="Carbon Footprint - Home"}}
	</head>
	<body>
		<div id="header">
			{{> topNav}}
		</div>
		<div id="content">
		  	{{> homeContent}}
		</div>
		<div id="footer">
			{{> bottomNav}}
		</div>
		<script src="./dist/bundle.js"></script>
	</body>
</html>