<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <title>Carbon Footprint</title>
	  <link rel="stylesheet" href="./dist/css/main.css">
	  <script src="https://use.fontawesome.com/66d4cc59b8.js"></script>
	</head>
	<body>
		<div id="header">
			{{> topNav}}
		</div>
		<div id="content">
		  	<div class="container">
			  	<div id="carbon-saved-stats">
			  		<div class="stats">
			  			<div class="icon">
			  				<i class="fa fa-5x fa-cloud" aria-hidden="true"></i>
			  				<h2>CO2</h2>
			  			</div>
			  			<h3>1.34 KG CO2 SAVED</h3>
			  		</div>
			  	</div>
			  	<div class="commute-options-container">
				  	<div class="commute-options">
				  		<div class="commute-option self">
				  			<a href="/self">
				  				<div class="icon">
				  					<i class="fa fa-3x fa-user-o" aria-hidden="true"></i>
				  				</div>
				  				<h3>Own Vehicle</h3>
				  			</a>
				  		</div>
				  		<div class="commute-option shared">
				  			<a href="/shared-vehicle">
				  				<div class="icon">
				  					<i class="fa fa-3x fa-users" aria-hidden="true"></i>
				  				</div>
				  				<h3>Shared Vehicle</h3>
				  			</a>
				  		</div>
				  		<div class="commute-option public">
				  			<a href="/public-transport">
				  				<div class="icon">
				  					<i class="fa fa-2x fa-users" aria-hidden="true"></i><i class="fa fa-2x fa-users" aria-hidden="true"></i>
				  				</div>
				  				<h3>Public Transport</h3>
				  			</a>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
		<div id="footer">
			{{>bottomNav}}
		</div>
		<script src="./dist/bundle.js"></script>
	</body>
</html>