<!DOCTYPE html>
<html lang="en">
	<head>
	  {{> head title="Carbon Footprint - Profile"}}
	</head>
	<body>
		<div id="header">
			{{> topNav}}
		</div>
		<div id="content">
		  	<div class="container">
		  		<div id="user-profile">
		  			<div class="profile-image-and-name">
		  				<div class="image">
		  					<i class="fa fa-3x fa-user-o" aria-hidden="true"></i>
		  				</div>
		  				<h1>David Jones</h1>
		  			</div>
		  			<hr/>
		  			<div class="leaf-points">
		  				<div class="points leaf">
		  					<span class="label" id="leaf-count">0</span><i class="fa fa-2x fa-leaf" aria-hidden="true"></i>
		  				</div>
		  				<div class="points tree">
		  					<span class="label" id="tree-count">0</span><i class="fa fa-2x fa-tree" aria-hidden="true"></i>
		  				</div>
		  			</div>
		  			<hr/>
		  			<div id="carbon-saved-stats">
			  			<div class="stats">
			  				<div class="icon">
			  					<i class="fa fa-5x fa-cloud" aria-hidden="true"></i>
			  					<h2>CO2</h2>
			  				</div>
			  				<h3><span id="carbon-saved-profile">0</span> KG CO2 SAVED</h3>
			  			</div>
			  		</div>
		  		</div>
		  	</div>
		</div>
		<div id="footer">
			{{> bottomNav}}
		</div>
		<script src="./dist/bundle.js"></script>
	</body>
</html>