<!DOCTYPE html>
<html lang="en">
	<head>
	  {{> head title="Carbon Footprint - Public Transport"}}
	</head>
	<body>
	  	<div id="header">
	  		{{> topNav}}
	  	</div>
	  	<div id="content">
	  	  	{{> transitContent type="Public" public=true}}
	  	</div>
	  	<div id="footer">
	  		{{> bottomNav}}
	  	</div>
	  	<script src="./dist/bundle.js"></script>
		  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnPKOObu8W8kngc9yiYesWpY4UHplvLao&callback=initMap">
    </script>
	</body>
</html>