<!DOCTYPE html>
<html lang="en">
	<head>
	  {{> head title="Carbon Footprint - Shared Transport"}}
	</head>

	<body>
	  	<div id="header">
			{{> topNav}}
	  	</div>
	  	<div id="content">
	  		{{> transitContent type="Shared" shared=true}}
		</div>
		<div id="footer">
			{{> bottomNav}}
		</div>
		<script src="./dist/bundle.js"></script>
	</body>
</html>