<div class="container">
	<div class="top-nav">
		<a id="toggle-nav-menu" href="#">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>

		<h1>Carbon Footprint</h1>
	</div>

	<div id="navigation">
		<div class="profile-image-and-name">
			<div class="image">
				<i class="fa fa-3x fa-user-o" aria-hidden="true"></i>
			</div>
			<h3>David Jones</h3>
		</div>
		<hr/>
		<div class="leaf-points">
			<div class="points leaf">
				<span class="label">1500</span><i class="fa fa-leaf" aria-hidden="true"></i>
			</div>
			<div class="points tree">
				<span class="label">1</span><i class="fa fa-tree" aria-hidden="true"></i>
			</div>
		</div>
		<hr/>
		<ul class="menu-items">
			<li><a href="/profile">My Profile</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Settings</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>
</div>