<div class="container">
	<div class="map-container">
		<div id="map-canvas" style="width: 375px; height: 389px;">
			
		</div>
	</div>
	<div class="journey-and-travel-modes">
		<h2>{{{type}}}</h2>
		<form action="/" method="post">
			<div class="form-fields">
				<input type="source" name="source" placeholder="Source" id="source">
				<input type="destination" name="destination" placeholder="Destination" id="destination" >
			</div>
		</form>
		<div class="travel-modes">
			{{#if self}}
				<div class="travel-mode walk" id="walk"  onclick="startRide('walk')">
					<div class="icon">
						<i class="fa fa-2x fa-male" aria-hidden="true"></i>
					</div>
					<div class="details">
						<div><i class="fa fa-leaf" aria-hidden="true"></i> x 25</div>
						<div><i class="fa fa-cloud" aria-hidden="true"></i> x 0 kg/km</div>
					</div>
				</div>
				<div class="travel-mode cycle" id="cycle"  onclick="startRide('cycle')">
					<div class="icon">
						<i class="fa fa-2x fa-bicycle" aria-hidden="true"></i>
					</div>
					<div class="details">
						<div><i class="fa fa-leaf" aria-hidden="true"></i> x 20</div>
						<div><i class="fa fa-cloud" aria-hidden="true"></i> x 0 kg/km</div>
					</div>
				</div>
			{{/if}}
			{{#if shared}}
				<div class="travel-mode motorcycle" id="motorcycle" onclick="startRide('bike')">
					<div class="icon">
						<i class="fa fa-2x fa-motorcycle" aria-hidden="true"></i>
					</div>
					<div class="details">
						<div><i class="fa fa-leaf" aria-hidden="true"></i> x 15</div>
						<div><i class="fa fa-cloud" aria-hidden="true"></i> x 0.5 kg/km</div>
					</div>
				</div>
				<div class="travel-mode car" id="car"  onclick="startRide('car')">
					<div class="icon">
						<i class="fa fa-2x fa-car" aria-hidden="true"></i>
					</div>
					<div class="details">
						<div><i class="fa fa-leaf" aria-hidden="true"></i> x 10</div>
						<div><i class="fa fa-cloud" aria-hidden="true"></i> x 1.0 kg/km</div>
					</div>
				</div>
			{{/if}}
			{{#if public}}
				<div class="travel-mode bus" id="bus"  onclick="startRide('bus')">
					<div class="icon">
						<i class="fa fa-2x fa-bus" aria-hidden="true"></i>
					</div>
					<div class="details">
						<div><i class="fa fa-leaf" aria-hidden="true"></i> x 15</div>
						<div><i class="fa fa-cloud" aria-hidden="true"></i> x 1.0 kg/km</div>
					</div>
				</div>
				<div class="travel-mode train" id="train"  onclick="startRide('train')">
					<div class="icon">
						<i class="fa fa-2x fa-train" aria-hidden="true"></i>
					</div>
					<div class="details">
						<div><i class="fa fa-leaf" aria-hidden="true"></i> x 20</div>
						<div><i class="fa fa-cloud" aria-hidden="true"></i> x 0.5 kg/km</div>
					</div>
				</div>
			{{/if}}
		</div>
	</div>
</div>