<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head title="Carbon Footprint - Tree"}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	</head>
	<body>
		<div id="header">
			{{> topNav}}
		</div>
		<div id="content">
		  	<div class="container">
		  		<div class="tree-container">
		  			<h1>You have<br><span id="leafPoints">0</span><br>Leaf Points</h1>		  			
			  		<button id="create-tree-button">Create a Tree</button>
			  		<h3>You need 1000 leaf points to create a tree.</h3>			  		
		  		</div>
		  	</div>
		</div>
		<div id="footer">
			{{> bottomNav}}
		</div>
		<script src="./dist/bundle.js"></script>
	</body>
</html>