<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head title="Carbon Footprint - Tree"}}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	</head>
	<body>
		<div id="header">
			{{> topNav}}
		</div>
		<div id="content">
		  	<div class="container">
		  		<div class="tree-container">
		  			<div class="virtual-tree">
			  			<img alt="Tree" src="tree2.gif">
			  			<h1>CONGRATULATIONS!</h1>
			  			<p>You have successfully created a tree virtually.</p>
			  			<p>We will notify you on planting a real one.</p>
			  		</div>
		  		</div>
		  	</div>
		</div>
		<div id="footer">
			{{> bottomNav}}
		</div>
		<script src="./dist/bundle.js"></script>
	</body>
</html>